@page "/"
@using System.Diagnostics

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@inject Nololiyt.IndexedDbSharp.Raw.CSharp.Async.IAsyncIndexedDbSharpRawEntry IndexedDb
@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;

        await using var factory = await IndexedDb.NewWrappedIdbFactoryAsync();
        Debug.Assert(factory is not null);
        await using var request = await factory.OpenAsync("test");
    }
}
